/**********************Custom Properties *************/

:root {
  --first-color: #f01d13;
  --first-alpha-color: rgba(240, 29, 19, 0.75);
  --second-color: #000000;
  --second-alpha-color: rgba(0, 0, 0, 0.75);
  --third-color: navy;
  --third-alpha-color: rgba(32, 42, 68, 0.75);
  --white-color: #fff;
  --gray-light-color: #f3f3f3;
  --gray-color: #ccc;
  --gray-dark-color: #666;
  --black-color: #000;
  --link-color: #509ee3;
  --title-color: #333;
  --text-color: #222;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --font: "Raleway", sans-serif;
  --max-width: 1200px;
  --header-height: 4rem;
}

/****************Reset ****************/
html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  color: var(--text-color);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  color: var(--link-color);
  transition: all 0.5s ease-out;
}

a:hover {
  opacity: 0.75;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

h4 {
  margin: 0;
  font-size: 1rem;
}

h5 {
  margin: 0;
  font-size: 0.85rem;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6;
}

.btn {
  border-radius: 0.5rem;
  padding: 1rem;
  display: inline-block;
  width: 12.5rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--first-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}

.section {
  padding: 2rem 1rem;
}

.section-title {
  border-top: thick solid var(--first-color);
  border-bottom: thick solid var(--first-color);
  margin: 2rem auto;
  padding: 0.5rem 1rem;
  text-align: center;
  color: var(--title-color);
  font-style: bold;
}

.none {
  display: none;
}

.bold {
  font-weight: bold;
}

.titulo-carousel {
  color: var(--first-color);
}

.texto-blanco {
  color: var(--gray-light-color);
}

.inicio-noticias {
  background-color: #000;
}

.background-color {
  background-color: #000;
}

.bg-gray-light {
  background-color: var(--gray-light-color);
}

.footer {
  margin-bottom: var(--header-height);
  padding: 0.5rem;
  text-align: center;
  background-color: #000;
}

/******************MENU*********************/
.menu-btn {
  outline: thin solid var(--first-color);
  border: 0;
  cursor: pointer;
  background-color: var(--second-color);
}

.menu-btn svg {
  fill: var(--first-color);
}

.menu {
  position: fixed;
  left: 0;
  bottom: var(--header-height);
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--second-color);
  opacity: 0; /*paraque no se vea hasta que lo activemos*/
  transition: opacity 0.5s ease; /*el efecto*/
  pointer-events: none; /*para que no sea interactivo porque la opacidad esta 0*/
}

.menu.is-active {
  opacity: 1;
  pointer-events: auto;
}

.menu a {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--first-color);
}

.menu a:hover {
  color: var(--white-color);
  background-color: var(--first-color);
}

/*Ponemos la cabecera aqui porque puede cambiar*/
.header {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 1rem;
  z-index: 999;
  width: 100%;
  height: var(--header-height);
  background-color: var(--second-color);
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.logo a {
  color: var(--first-color);
  font-weight: bold;
  font-size: 2.2rem;
  text-decoration: none;
  padding-left: 18px;
}

.logo img {
  width: 35px;
  height: 35px;
  object-fit: cover;
}

@media screen and (min-width: 1024px) {
  .header {
    position: sticky;
    top: 0;
    padding: 0.5rem;
    height: calc(var(--header-height) - 0.5rem);
  }

  .footer {
    margin-bottom: 0;
  }
  .menu-btn {
    display: none;
  }

  .menu {
    position: static;
    width: auto;
    flex-direction: row;
    opacity: 1;
    pointer-events: auto;
  }

  .menu a {
    padding: 0 1rem;
  }

  .menu a:last-child {
    padding-right: 0;
  }

  .menu a:hover {
    background-color: transparent;
  }

  .logo a {
    color: var(--first-color);
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
    padding-left: 9.5px;
  }
}

/*********************************************HOME**********************************************/

/*****************HERO IMAGE*****************/
.hero-image {
  background-image: var(--hero-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: var(--hero-attachment); /*para que no scrolle*/
}

.hero-image-opacity {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--hero-opacity-color);
}

.hero-image-title {
  font-size: 7.5vw;
  color: var(--hero-text-color);
}

/*************CAROUSEL***************/
@keyframes carousel-slide {
  0% {
    transform: translateX(0%);
  }

  33% {
    transform: translateX(-33%);
  }

  66% {
    transform: translateX(-66%);
  }
}

.avatar {
  margin-right: auto;
  margin-left: auto;
  margin-top: -2rem;
  /* padding-right: 17px;
  padding-left: 10px;*/
  width: 1024px;
  height: auto;
}

.carousel {
  /*margin: 2rem auto;*/
  /*padding: 2rem 0;*/
  max-width: 100%;
  text-align: center;
  overflow-x: hidden;
  background-color: var(--carousel-bg-color);
}

.carousel .slides {
  padding-left: 0;
  /*Por cada slide debemos aumentar el ancho 100%*/
  display: flex;
  list-style: none;
  width: 300%;
  transition: transform 0.5s ease-in-out;
  /*animation: carousel-slide 12s ease-in-out 3s;*/
}

/*~ este simbolo lo que hace es señalar al siguiente hermano*/
#slide-1:checked ~ .slides {
  transform: translateX(0%);
}

#slide-2:checked ~ .slides {
  transform: translateX(-33.3333333333%);
}

#slide-3:checked ~ .slides {
  transform: translateX(-66.666666666%);
}

#slide-1:checked ~ .slides-nav label#dot-1,
#slide-2:checked ~ .slides-nav label#dot-2,
#slide-3:checked ~ .slides-nav label#dot-3 {
  background-color: var(--first-color);
}

.carousel input {
  display: none;
}

.carousel label {
  border: medium solid var(--first-alpha-color);
  border-radius: 50%;
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  cursor: pointer;
  margin: 0 0.25rem;
}

/*TIMER DE PROXIMO PARTIDO*/

.countdown {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}

.countdown div {
  display: grid;
  place-items: center;
  padding: 1px;
}

.countdown p {
  font-size: 3rem;
}

.countdown span {
  font-style: bold;
  font-weight: bold;
}

#days {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 99%,
    rgba(251, 2, 27, 1) 100%
  );
  -webkit-background-clip: text;
  color: transparent;
  font-style: bold;
  font-weight: bold;
}

#hours {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 50%,
    rgba(251, 2, 27, 1) 100%
  );
  -webkit-background-clip: text;
  color: transparent;
  font-style: bold;
  font-weight: bold;
}

#minutes {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(251, 2, 27, 1) 50%
  );
  -webkit-background-clip: text;
  color: transparent;
  font-style: bold;
  font-weight: bold;
}

#seconds {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(251, 2, 27, 1) 1%
  );
  -webkit-background-clip: text;
  color: transparent;
  font-style: bold;
  font-weight: bold;
}

.countdown span {
  display: block;
  padding: 2px;
  text-align: center;
  font-size: 1rem;
  font-weight: 400px;
}

/*Carousel de Internetxxxxx*/
.gallery {
  background: #eee;
  padding-bottom: 20px;
}

.gallery-cell {
  width: 66%;
  height: 400px;
  margin-top: 50px;
  margin-right: 10px;
  background: #eee;
  /*counter-increment: gallery-cell;*/
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  /*content: counter(gallery-cell);*/
  line-height: 200px;
  font-size: 20px;
  color: white;
}

.flickity-page-dots {
  bottom: -22px;
}
/* dots are lines */
.flickity-page-dots .dot {
  height: 4px;
  width: 40px;
  margin: 0;
  border-radius: 0;
  background: red;
}

/**************Hasta aca el acarousel Flickity***********/

.fecha {
  border: thin solid black;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(251, 2, 27, 1) 100%
  );
  color: white;
  display: grid;
  grid-template-columns: 60px auto auto;
}

.fecha .numero {
  grid-row: span 2;
  text-align: center;
  font-size: 3rem;
  padding: 20px 0;
  font-style: bold;
  font-weight: bold;
}

.fecha .fecha-dia {
  font-size: 2rem;
  font-style: bold;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 15px;
}

.fecha .fecha-mes {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 15px;
}

.fecha .mensaje-fecha1 {
  font-size: 2rem;
  font-style: bold;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: end;
  padding-right: 20px;
}

.fecha .mensaje-fecha2 {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: end;
  padding-right: 20px;
}

.contenido {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    "logo-copa logo-copa logo-copa"
    "mensaje-partido  mensaje-partido mensaje-partido"
    "escudo-1  horario  escudo-2"
    "rivales    rivales  rivales"
    "estadio estadio estadio";
  /*grid-template-columns: 100px auto 100px;*/
  border: thin solid black;
}

.contenido .logo-copa {
  grid-column: span 3;
  text-align: center;
  grid-area: logo-copa;
}

.contenido .logo-copa > img {
  width: 100px;
  height: auto;
  margin: 0;
  padding-left: 10px;
  padding-top: 10px;
}

.contenido .mensaje-partido {
  grid-column: span 3;
  text-align: center;
  font-size: 1.2rem;
  grid-area: mensaje-partido;
}

.contenido .rivales {
  font-size: 1.8rem;
  grid-column: span 3;
  text-align: center;
  font-style: bold;
  font-weight: bold;
  grid-area: rivales;
}

.contenido .estadio {
  grid-column: span 3;
  text-align: center;
  font-style: oblique;
  font-size: 1.2rem;
  grid-area: estadio;
}

.contenido .escudo-1 {
  grid-area: escudo-1;
  width: 115px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.contenido .escudo-2 {
  grid-area: escudo-2;
  width: 115px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.contenido .horario {
  grid-area: horario;
  font-size: 2.65rem;
  font-style: bold;
  font-weight: bold;
  text-align: center;
  align-self: center;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(251, 2, 27, 1) 100%
  );
  -webkit-background-clip: text;
  color: transparent;
}

/*CAROUSEL AGRUPADOS FLICKITY*/
.carousel-agrupado {
  background: black;
}

.carousel-cell {
  width: 28%;
  height: 400px;
  margin-right: 10px;
  background-size: auto 400px;
  background-position: center;
  border-radius: 5px;
}

.carousel-cell.is-selected {
  /*background: #ed2;*/
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 400px;
  font-size: 80px;
  color: white;
}

.carousel-cell img {
  width: auto;
  height: 400px;
}

.carousel-cell:hover {
  /*background: #ed2;*/
}

.jug1 {
  background-image: url("assets/Jugadores/Gallese.JPG");
}
.jug2 {
  background-image: url("assets/Jugadores/Advincula.JPG");
}
.jug3 {
  background-image: url("assets/Jugadores/Abram.JPG");
}
.jug4 {
  background-image: url("assets/Jugadores/Zambrano.JPG");
}
.jug5 {
  background-image: url("assets/Jugadores/Cueva.JPG");
}
.jug6 {
  background-image: url("assets/Jugadores/Tapia.JPG");
}
.jug7 {
  background-image: url("assets/Jugadores/Trauco.JPG");
}
.jug8 {
  background-image: url("assets/Jugadores/Goro.JPG");
}
.jug9 {
  background-image: url("assets/Jugadores/Guerrero.JPG");
}
.jug10 {
  background-image: url("assets/Jugadores/Farfan.JPG");
}
.jug11 {
  background-image: url("assets/Jugadores/Lapadula.JPG");
}
.jug12 {
  background-image: url("assets/Jugadores/DT.JPG");
}

.info-jugador {
  display: grid;
  color: white;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "nombre nombre nombre"
    "posicion posicion posicion"
    "partidos-stats goles-stats asistencias-stats"
    "partidos  goles  asistencias";
  text-align: center;
}

.info-jugador .nombre {
  grid-column: span 3;
  text-align: center;
  grid-area: nombre;
  font-style: bold;
  font-weight: bold;
  padding-top: 330px;
  font-size: 2.5rem;
}

.info-jugador .posicion {
  grid-column: span 3;
  text-align: center;
  grid-area: posicion;
  font-style: italic;
  font-size: 1.2rem;
  padding-bottom: 5px;
}

.info-jugador .partidos-stats {
  grid-area: partidos-stats;
  font-size: 0.7rem;
  /*display: none;*/
}

.info-jugador .goles-stats {
  grid-area: goles-stats;
  font-size: 0.7rem;
  display: none;
}

.info-jugador .asistencias-stats {
  grid-area: asistencias-stats;
  font-size: 0.7rem;
  display: none;
}

.info-jugador .partidos {
  grid-area: partidos;
  font-style: bold;
  font-weight: bold;
  font-size: 1.2rem;
  display: none;
}

.info-jugador .goles {
  grid-area: goles;
  font-style: bold;
  font-weight: bold;
  font-size: 1.2rem;
  display: none;
}

.info-jugador .asistencias {
  grid-area: asistencias;
  font-style: bold;
  font-weight: bold;
  font-size: 1.2rem;
  display: none;
}

.info-jugador-1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, auto);
  color: white;
  text-align: center;
  padding-top: 350px;
}

.info-jugador-2 {
  color: white;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  /*display: none;*/
}
