/**********************Custom Properties *************/

:root {
  --first-color: #f01d13;
  --first-alpha-color: rgba(240, 29, 19, 0.75);
  --second-color: #000000;
  --second-alpha-color: rgba(0, 0, 0, 0.75);
  --third-color: navy;
  --third-alpha-color: rgba(32, 42, 68, 0.75);
  --white-color: #fff;
  --gray-light-color: #f3f3f3;
  --gray-color: #ccc;
  --gray-dark-color: #666;
  --black-color: #000;
  --link-color: #509ee3;
  --title-color: #333;
  --text-color: #222;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --font: "Raleway", sans-serif;
  --max-width: 1200px;
  --header-height: 4rem;
}

/****************Reset ****************/
html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  color: var(--text-color);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  color: var(--link-color);
  transition: all 0.5s ease-out;
}

a:hover {
  opacity: 0.75;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

h4 {
  margin: 0;
  font-size: 1rem;
}

h5 {
  margin: 0;
  font-size: 0.85rem;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6;
}

.btn {
  border-radius: 0.5rem;
  padding: 1rem;
  display: inline-block;
  width: 12.5rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--first-color);
}

/*VENTANA MODAL*/
.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black-alpha-color);
  opacity: 0;
  pointer-events: none;
  transition: all 1s;
}

.modal-content {
  position: relative;
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.modal-close svg {
  width: 3rem;
  height: 3rem;
  fill: var(--first-color);
}

.modal[id|="noticia"]:target {
  opacity: 1;
  pointer-events: auto;
}

.noticia-modal {
  background-color: var(--white-color);
  padding: 1rem;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.noticia-modal img {
  width: 500px;
  height: 500px;
  object-fit: cover; /*para que no pierda el aspecto la imagen si es de diferente tamaño*/
}

.noticia-modal h3 {
  border-bottom: medium solid var(--first-color);
  padding: 0.5rem 0;
  margin: 1rem auto;
  color: var(--first-color);
  text-align: center;
}

.noticia-modal p {
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .noticia-modal {
    max-width: 1200px;
  }

  .noticia-modal img {
    width: 1200px;
    height: auto;
    object-fit: cover; /*para que no pierda el aspecto la imagen si es de diferente tamaño*/
  }

  .noticia-modal h3 {
    border-bottom: medium solid var(--first-color);
    padding: 0.5rem 0;
    margin: 1rem auto;
    color: var(--first-color);
    text-align: center;
    font-size: 2rem;
  }
  .noticia-modal p {
    text-align: center;
    font-size: 1.2rem;
  }
}

/*CIERRE VENTANA MODAL*/
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}

.section {
  padding: 2rem 1rem;
}

.section-title {
  border-top: thick solid var(--first-color);
  border-bottom: thick solid var(--first-color);
  margin: 2rem auto;
  padding: 0.5rem 1rem;
  text-align: center;
  color: var(--first-color);
  font-style: bold;
}

.none {
  display: none;
}

.bold {
  font-weight: bold;
}

.titulo-carousel {
  color: var(--first-color);
}

.texto-blanco {
  color: var(--gray-light-color);
}

.inicio-noticias {
  background-color: #000;
}

.background-color {
  background-color: #000;
}
.background-color-2 {
  background-color: #0a0a0a;
}

.bg-gray-light {
  background-color: var(--gray-light-color);
}

.footer {
  margin-bottom: var(--header-height);
  padding: 0.5rem;
  text-align: center;
  background-color: #000;
}

/******************MENU*********************/
.menu-btn {
  outline: thin solid var(--first-color);
  border: 0;
  cursor: pointer;
  background-color: var(--second-color);
}

.menu-btn svg {
  fill: var(--first-color);
}

.menu {
  position: fixed;
  left: 0;
  bottom: var(--header-height);
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--second-color);
  opacity: 0; /*paraque no se vea hasta que lo activemos*/
  transition: opacity 0.5s ease; /*el efecto*/
  pointer-events: none; /*para que no sea interactivo porque la opacidad esta 0*/
}

.menu.is-active {
  opacity: 1;
  pointer-events: auto;
}

.menu a {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--first-color);
}

.menu a:hover {
  color: var(--white-color);
  background-color: var(--first-color);
}

/*Ponemos la cabecera aqui porque puede cambiar*/
.header {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 1rem;
  z-index: 999;
  width: 100%;
  height: var(--header-height);
  background-color: var(--second-color);
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.logo a {
  color: var(--first-color);
  font-weight: bold;
  font-size: 2.2rem;
  text-decoration: none;
  padding-left: 18px;
}

.logo img {
  width: 35px;
  height: 35px;
  object-fit: cover;
}

@media screen and (min-width: 1024px) {
  .header {
    position: sticky;
    top: 0;
    padding: 0.5rem;
    height: calc(var(--header-height) - 0.5rem);
  }

  .footer {
    margin-bottom: 0;
  }
  .menu-btn {
    display: none;
  }

  .menu {
    position: static;
    width: auto;
    flex-direction: row;
    opacity: 1;
    pointer-events: auto;
  }

  .menu a {
    padding: 0 1rem;
  }

  .menu a:last-child {
    padding-right: 0;
  }

  .menu a:hover {
    background-color: transparent;
  }

  .logo {
    margin-left: 10px;
  }

  .logo a {
    color: var(--first-color);
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
    padding-left: 9.5px;
  }
}

/*********************************************HOME**********************************************/
.carousel-noticias {
  background: var(--black-color);
}

.carousel-cell-noticias {
  width: 66%;
  height: 250px;
  margin-right: 10px;
  background: var(--black-color);
  border-radius: 5px;
}

/* cell number */
.carousel-cell-noticias:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.noticia-foto {
  position: relative;
}

.noticia-foto .especial {
  padding: 13px;
}

.noticia-title {
  position: absolute;
  bottom: 0;
  color: white;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 1));
  width: 100%;
  margin: 0;
  padding: 25px;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .carousel-noticias {
    background: var(--black-color);
  }

  .carousel-cell-noticias {
    width: 66%;
    height: 450px;
    margin-right: 10px;
    background: var(--black-alpha-color);
  }

  /* cell number */
  .carousel-cell-noticias:before {
    display: block;
    text-align: center;
    line-height: 200px;
    font-size: 80px;
    color: white;
  }

  .noticia-foto img {
    height: 450px;
    width: auto;
  }

  .noticia-foto .especial {
    padding-bottom: 20px;
  }

  .noticia-foto {
    position: relative;
  }

  .noticia-title {
    position: absolute;
    bottom: 0;
    color: white;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 1));
    width: 100%;
    margin: 0;
    padding: 25px;
    text-align: center;
  }
}

/*TIMER DE PROXIMO PARTIDO*/

.countdown {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}

.countdown div {
  display: grid;
  place-items: center;
  padding: 1px;
}

.countdown p {
  font-size: 3rem;
}

.countdown span {
  font-style: bold;
  font-weight: bold;
  color: white;
}

#days {
  background: linear-gradient(
    90deg,
    rgb(250, 250, 250) 99%,
    rgba(251, 2, 27, 1) 100%
  );
  -webkit-background-clip: text;
  color: transparent;
  font-style: bold;
  font-weight: bold;
}

#hours {
  background: linear-gradient(
    90deg,
    rgba(250, 250, 250, 1) 50%,
    rgba(251, 2, 27, 1) 100%
  );
  -webkit-background-clip: text;
  color: transparent;
  font-style: bold;
  font-weight: bold;
}

#minutes {
  background: linear-gradient(
    90deg,
    rgba(250, 250, 250, 1) 0%,
    rgba(251, 2, 27, 1) 50%
  );
  -webkit-background-clip: text;
  color: transparent;
  font-style: bold;
  font-weight: bold;
}

#seconds {
  background: linear-gradient(
    90deg,
    rgba(250, 250, 250, 1) 0%,
    rgba(251, 2, 27, 1) 1%
  );
  -webkit-background-clip: text;
  color: transparent;
  font-style: bold;
  font-weight: bold;
}

.countdown span {
  display: block;
  padding: 2px;
  text-align: center;
  font-size: 1rem;
  font-weight: 400px;
}

/*Carousel de Internetxxxxx*/
.gallery-cell .fecha {
  border: thin solid white;
}

.gallery-cell .contenido {
  border: thin solid white;
}

.gallery {
  background: #0a0a0a;
  padding-bottom: 20px;
}

.gallery-cell {
  width: 66%;
  height: 400px;
  margin-top: 50px;
  margin-right: 10px;
  background: #0a0a0a;
  /*counter-increment: gallery-cell;*/
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  /*content: counter(gallery-cell);*/
  line-height: 200px;
  font-size: 20px;
  color: white;
}

.flickity-page-dots {
  bottom: -22px;
}
/* dots are lines */
.flickity-page-dots .dot {
  height: 4px;
  width: 40px;
  margin: 0;
  border-radius: 0;
  background: red;
}

/**************Hasta aca el acarousel Flickity***********/

.fecha {
  border: thin solid black;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(251, 2, 27, 1) 100%
  );
  color: white;
  display: grid;
  grid-template-columns: 60px auto auto;
}

.fecha .numero {
  grid-row: span 2;
  text-align: center;
  font-size: 3rem;
  padding: 20px 0;
  font-style: bold;
  font-weight: bold;
}

.fecha .fecha-dia {
  font-size: 2rem;
  font-style: bold;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 15px;
}

.fecha .fecha-mes {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 15px;
}

.fecha .mensaje-fecha1 {
  font-size: 2rem;
  font-style: bold;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: end;
  padding-right: 20px;
}

.fecha .mensaje-fecha2 {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: end;
  padding-right: 20px;
}

.contenido {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    "logo-copa logo-copa logo-copa"
    "mensaje-partido  mensaje-partido mensaje-partido"
    "escudo-1  horario  escudo-2"
    "rivales    rivales  rivales"
    "estadio estadio estadio";
  /*grid-template-columns: 100px auto 100px;*/
  border: thin solid black;
}

.contenido .logo-copa {
  grid-column: span 3;
  text-align: center;
  grid-area: logo-copa;
}

.contenido .logo-copa > img {
  width: 100px;
  height: auto;
  margin: 0;
  padding-left: 10px;
  padding-top: 10px;
  filter: drop-shadow(2px 2px 3px #f01d13);
}

.contenido .mensaje-partido {
  grid-column: span 3;
  text-align: center;
  font-size: 1.2rem;
  grid-area: mensaje-partido;
  color: white;
}

.contenido .rivales {
  font-size: 1.8rem;
  grid-column: span 3;
  text-align: center;
  font-style: bold;
  font-weight: bold;
  color: white;
  grid-area: rivales;
}

.contenido .estadio {
  grid-column: span 3;
  text-align: center;
  font-style: oblique;
  font-size: 1.2rem;
  grid-area: estadio;
  color: white;
}

.contenido .escudo-1 {
  grid-area: escudo-1;
  width: 115px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  padding-top: 15px;
  padding-bottom: 15px;
  filter: drop-shadow(4px 4px 4px #f01d13);
}

.contenido .escudo-2 {
  grid-area: escudo-2;
  width: 115px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  padding-top: 15px;
  padding-bottom: 15px;
  filter: drop-shadow(4px 4px 4px #f01d13);
}

.contenido .horario {
  grid-area: horario;
  font-size: 2.65rem;
  font-style: bold;
  font-weight: bold;
  text-align: center;
  align-self: center;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255) 30%,
    rgba(251, 2, 27, 1) 100%
  );
  -webkit-background-clip: text;
  color: transparent;
}

/*CAROUSEL AGRUPADOS FLICKITY JUGADORES*/
.carousel-agrupado {
  background: black;
}

.carousel-cell {
  width: 28%;
  height: 400px;
  margin-right: 10px;
  background-size: auto 400px;
  background-position: center;
  border-radius: 5px;
}

.carousel-cell.is-selected {
  /*background: #ed2;*/
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 400px;
  font-size: 80px;
  color: white;
}

.carousel-cell img {
  width: auto;
  height: 400px;
}

.carousel-cell:hover {
  /*background: #ed2;*/
}

.jug1 {
  background-image: url("assets/Jugadores/Gallese.JPG");
}
.jug2 {
  background-image: url("assets/Jugadores/Advincula.JPG");
}
.jug3 {
  background-image: url("assets/Jugadores/Abram.JPG");
}
.jug4 {
  background-image: url("assets/Jugadores/Trauco.JPG");
}
.jug5 {
  background-image: url("assets/Jugadores/Zambrano.JPG");
}
.jug6 {
  background-image: url("assets/Jugadores/Tapia.JPG");
}
.jug7 {
  background-image: url("assets/Jugadores/Cueva.JPG");
}
.jug8 {
  background-image: url("assets/Jugadores/Goro.JPG");
}
.jug9 {
  background-image: url("assets/Jugadores/Guerrero.JPG");
}
.jug10 {
  background-image: url("assets/Jugadores/Farfan.JPG");
}
.jug11 {
  background-image: url("assets/Jugadores/Lapadula.JPG");
}
.jug12 {
  background-image: url("assets/Jugadores/DT.JPG");
}

.info-jugador-1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, auto);
  color: white;
  text-align: center;
  padding-top: 325px;
  transition: all 0.4s ease-in-out;
  border-bottom: 2px solid white;
}

.info-jugador-1 .nombre {
  text-align: center;
  font-style: bold;
  font-weight: bold;
  font-size: 2.1rem;
}

.info-jugador-1 .posicion {
  text-align: center;
  font-style: italic;
  font-size: 1.2rem;
  padding-bottom: 10px;
}

.info-jugador-2 {
  color: white;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
}

.info-jugador-2 .stats {
  font-size: 0.75rem;
  font-style: bold;
  font-weight: bold;
}

.info-jugador-2 .stats-info {
  font-style: bold;
  font-weight: bold;
  font-size: 1.7rem;
  margin-top: 0;
}

.carousel-cell:hover .info-jugador-1 {
  padding-top: 225px;
  transition: all 0.4s ease-in-out;
}

/*Galeria de trofeos*/

.galeria-trofeos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
}

.trofeos-general {
  text-align: center;
  color: #f01d13;
  font-style: bold;
  font-weight: bold;
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: block;
}

.trofeos-general img {
  height: 250px;
  width: auto;
  filter: drop-shadow(4px 4px 4px #f01d13);
}

.trofeos-general .info-trofeos {
  font-size: 1.5rem;
}

.trofeos-general .stats-trofeos {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 7rem;
  margin-top: 0;
  padding-top: 50px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease-in-out;
}

.trofeos-general:hover .stats-trofeos {
  opacity: 1;
  pointer-events: none;
}

.trofeos-general:hover .trofeos-info-general {
  opacity: 0.15;
}

@media screen and (min-width: 1024px) {
  .galeria-trofeos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
  }
}

.creador {
  display: flex;
  justify-content: space-around;
  color: white;
  margin: 5px;
  padding: 5px 0;
}

.escudo-frase {
  font-weight: bold;
  text-align: center;
  font-style: italic;
  background-color: #0a0a0a;
}

.escudo-frase img {
  width: 100px;
  height: auto;
  filter: drop-shadow(4px 4px 4px #f01d13);
  padding-top: 10px;
}

.escudo-frase h2 {
  color: var(--first-color);
  font-style: italic;
  font-size: 2rem;
  padding-top: 10px;
}

.escudo-frase h3 {
  color: #efb810;
  font-size: 1.5rem;
  padding-bottom: 10px;
}

/********************Galeria de imagenes************/

.galeria-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  padding: 15px;
  grid-gap: 10px;
}

.galeria-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.galeria-foto {
  position: relative;
  filter: grayscale(100%);
  transition: all 0.3s ease;
}

.galeria-foto:hover {
  filter: grayscale(0%);
  box-shadow: 0 0 10px rgba(240, 29, 19, 0.9);
  transform: scale(1.05);
  /*filter: drop-shadow(2px 2px 3px #f01d13);*/
}

.gallery-title {
  position: absolute;
  bottom: 0;
  color: white;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 1));
  width: 100%;
  margin: 0;
  padding: 10px;
}

.galeria-foto:nth-child(2) {
  grid-row-start: span 2;
}

.galeria-foto:nth-child(4) {
  grid-row-start: span 2;
}

.galeria-foto:nth-child(10) {
  grid-column-start: span 2;
}

.galeria-foto:nth-child(6) {
  grid-column-start: span 2;
}

.galeria-foto:nth-child(7) {
  grid-column-start: span 2;
  grid-row-start: span 2;
}

.galeria-foto:nth-child(8) {
  grid-row-start: span 2;
}

.galeria-foto:nth-child(9) {
  grid-row-start: span 2;
}

.galeria-foto:nth-child(11) {
  grid-row-start: span 2;
  grid-column-start: span 2;
}

.galeria-foto:nth-child(12) {
  grid-row-start: span 2;
}

.galeria-foto:nth-child(15) {
  grid-column-start: span 2;
}

.galeria-foto:nth-child(17) {
  grid-row-start: span 2;
}

.galeria-foto:nth-child(18) {
  grid-row-start: span 2;
  grid-column-start: span 2;
}
/*
.galeria-foto:nth-child(19) {
  grid-column-start: span 3;
  grid-row-start: span 3;
  padding-bottom: 0;
}*/

@media screen and (min-width: 1024px) {
  .galeria-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 150px;
    padding: 15px;
    grid-gap: 25px;
  }

  .galeria-foto:nth-child(3) {
    grid-row-start: span 2;
  }
  .galeria-foto:nth-child(11) {
    grid-row-start: span 3;
    grid-column-start: span 3;
  }

  .galeria-foto:nth-child(17) {
    grid-row-start: span 3;
    grid-column-start: span 2;
  }
  .galeria-foto:nth-child(18) {
    grid-row-start: span 3;
    grid-column-start: span 2;
  }
  /*
  .galeria-foto:nth-child(19) {
    grid-column-start: span 4;
    grid-row-start: span 4;
    padding-bottom: 0;
  }*/
}

@media screen and (max-width: 450px) {
  /*********************************************HOME**********************************************/
  .carousel-noticias {
    background: var(--black-color);
  }

  .carousel-cell-noticias {
    width: 66%;
    height: 150px;
    margin-right: 10px;
    background: var(--black-color);
    border-radius: 5px;
  }

  /* cell number */
  .carousel-cell-noticias:before {
    display: block;
    text-align: center;
    line-height: 200px;
    font-size: 80px;
    color: white;
  }

  .noticia-foto {
    position: relative;
  }

  .noticia-foto .especial {
    padding: 13px;
  }

  .noticia-title {
    position: absolute;
    bottom: 0;
    color: white;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 1));
    width: 100%;
    margin: 0;
    padding: 25px;
    text-align: center;
    font-size: 20px;
  }

  .fecha {
    border: thin solid black;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(251, 2, 27, 1) 100%
    );
    color: white;
    display: grid;
    grid-template-columns: 60px auto auto;
  }

  .fecha .numero {
    grid-row: span 2;
    text-align: center;
    font-size: 1.5rem;
    padding: 20px 0;
    font-style: bold;
    font-weight: bold;
  }

  .fecha .fecha-dia {
    font-size: 1.1rem;
    font-style: bold;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 15px;
  }

  .fecha .fecha-mes {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 15px;
  }

  .fecha .mensaje-fecha1 {
    font-size: 1.1rem;
    font-style: bold;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: end;
    padding-right: 20px;
  }

  .fecha .mensaje-fecha2 {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: end;
    padding-right: 20px;
  }

  .contenido {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
      "logo-copa logo-copa logo-copa"
      "mensaje-partido  mensaje-partido mensaje-partido"
      "escudo-1  horario  escudo-2"
      "rivales    rivales  rivales"
      "estadio estadio estadio";
    /*grid-template-columns: 100px auto 100px;*/
    border: thin solid black;
  }

  .contenido .logo-copa {
    grid-column: span 3;
    text-align: center;
    grid-area: logo-copa;
  }

  .contenido .logo-copa > img {
    width: 100px;
    height: auto;
    margin: 0;
    padding-left: 10px;
    padding-top: 10px;
    filter: drop-shadow(2px 2px 3px #f01d13);
  }

  .contenido .mensaje-partido {
    grid-column: span 3;
    text-align: center;
    font-size: 1.1rem;
    grid-area: mensaje-partido;
    color: white;
  }

  .contenido .rivales {
    font-size: 1.3rem;
    grid-column: span 3;
    text-align: center;
    font-style: bold;
    font-weight: bold;
    color: white;
    grid-area: rivales;
  }

  .contenido .estadio {
    grid-column: span 3;
    text-align: center;
    font-style: oblique;
    font-size: 1rem;
    grid-area: estadio;
    color: white;
  }

  .contenido .escudo-1 {
    grid-area: escudo-1;
    width: 70px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    padding-top: 15px;
    padding-bottom: 15px;
    filter: drop-shadow(4px 4px 4px #f01d13);
  }

  .contenido .escudo-2 {
    grid-area: escudo-2;
    width: 70px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    padding-top: 15px;
    padding-bottom: 15px;
    filter: drop-shadow(4px 4px 4px #f01d13);
  }

  .contenido .horario {
    grid-area: horario;
    font-size: 1.8rem;
    font-style: bold;
    font-weight: bold;
    text-align: center;
    align-self: center;
    background: linear-gradient(
      90deg,
      rgb(255, 255, 255) 30%,
      rgba(251, 2, 27, 1) 100%
    );
    -webkit-background-clip: text;
    color: transparent;
  }

  .info-jugador-1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, auto);
    color: white;
    text-align: center;
    padding-top: 343px;
    transition: all 0.4s ease-in-out;
    border-bottom: 2px solid white;
  }

  .info-jugador-1 .nombre {
    text-align: center;
    font-style: bold;
    font-weight: bold;
    font-size: 1.3rem;
  }

  .info-jugador-1 .posicion {
    text-align: center;
    font-style: italic;
    font-size: 0.9rem;
    padding-bottom: 10px;
  }

  .info-jugador-2 {
    color: white;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
  }

  .info-jugador-2 .stats {
    font-size: 0.4rem;
    font-style: bold;
    font-weight: bold;
  }

  .info-jugador-2 .stats-info {
    font-style: bold;
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: 0;
  }

  .carousel-cell:hover .info-jugador-1 {
    padding-top: 225px;
    transition: all 0.4s ease-in-out;
  }

  .gallery-title {
    position: absolute;
    bottom: 0;
    color: white;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 1));
    width: 100%;
    margin: 0;
    padding: 10px;
    font-size: 15px;
  }

  .galeria-trofeos {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, auto);
  }
}
